<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Slideshow</title>
    <link rel="stylesheet" href="/css/test/test.css">
</head>
<body>
<div id="slideshow">
    <ul class="slides">
        <li>
            <img src="/img/img.png" alt="Image 1">
        </li>
        <li>
            <img src="/img/img_2.png" alt="Image 2">
        </li>
        <li>
            <img src="/img/minsome_m_top.png" alt="Image 3">
        </li>
    </ul>
</div>
</body>
<script src="/js/test.js"></script>
</html>